[Unit]
Description=PSKHouse Loader
PartOf=pskhouse.target
BindsTo=pskhouse-clickhouse.service
After=pskhouse-clickhouse.service

[Install]
WantedBy=pskhouse.target

[Container]
Pod=pskhouse.pod
ContainerName=%N
CgroupsMode=no-conmon
EnvironmentFile=/etc/pskhouse/db.env
EnvironmentFile=/etc/pskhouse/pskreporter.env
Image=pskhouse-loader
Exec=-metrics-port 5530
LogDriver=journald
