[Unit]
Description=PSKHouse Loader
PartOf=pskhouse.target
BindsTo=pskhouse-clickhouse.service
After=pskhouse-clickhouse.service

[Install]
WantedBy=pskhouse.target

[Service]
EnvironmentFile=/etc/pskhouse/db.env
EnvironmentFile=/etc/pskhouse/pskreporter.env

[Container]
Pod=pskhouse.pod
ContainerName=%N
CgroupsMode=no-conmon
EnvironmentFile=/etc/pskhouse/db.env
EnvironmentFile=/etc/pskhouse/pskreporter.env
Image=pskhouse-loader
Exec=-psk-reporter-token ${PSKREPORTER_TOKEN} -clickhouse-password ${CLICKHOUSE_PASSWORD}
LogDriver=journald
